<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bucavent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Bucavent.Properties.Settings>
            <setting name="colorLetra" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="colorFondo" serializeAs="String">
                <value>LemonChiffon</value>
            </setting>
            <setting name="tipoLetra" serializeAs="String">
                <value>Lucida Calligraphy, 9.75pt</value>
            </setting>
            <setting name="identificacion" serializeAs="String">
                <value>nadie</value>
            </setting>
            <setting name="actualizarLetra" serializeAs="String">
                <value>False</value>
            </setting>
        </Bucavent.Properties.Settings>
    </userSettings>
</configuration>